<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/id" />
    <script is:inline>
      const lang = navigator.language || navigator.userLanguage;
      if (lang.startsWith("en")) {
        window.location.href = "/en";
      } else {
        window.location.href = "/id";
      }
    </script>
  </head>
  <body></body>
</html>
